<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset='utf-8'>
    <title>{{title}}</title>

    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="{{title}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-config" content="{{applicationConfig}}" />

    <!-- manifest -->
    <link rel="manifest" href="{{manifest}}" />
    
    <link rel='preconnect' href='https://c.s-microsoft.com'>

    <!-- favicons -->
    <link rel="icon" type="image/png" href="{{square30x30logo}}">
    <link rel="apple-touch-icon" href="{{appleTouchIcon}}" />
    <link rel="shortcut icon" sizes="150x150" href="{{square150x150logo}}" />
    <link rel="me" href="https://twitter.com/da_wamwoowam">
    <link rel="me" href="https://snug.moe/@wamwoowam">

    <meta name="theme-color" content="{{themeColor}}">
    <meta name="description" content="{{description}}">

    <!-- og:tags -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ogImage}}">
    <meta property="og:image:width" content="620">
    <meta property="og:image:height" content="300">
    <meta property="og:site_name" content="wamwoowam.co.uk">

    <!-- twitter:tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:creator" content="@da_wamwoowam">
    <meta name="twitter:creator:id" content="2909863037">

    <!-- preload -->
    {{#each preload}}
    <link rel="preload" as="image" href="{{this}}">
    {{/each}}

    <style>:root {background-color: {{themeColor}};}</style>
    {{#if UMAMI_ID}}
    <script defer src="{{UMAMI_URL}}" data-website-id="{{UMAMI_ID}}"></script>
    {{/if}}
</head>

<body>
    {{{body}}}
    <noscript>This app requires JavaScript!</noscript>
</body>

</html>